.plot {
  position: relative;
  width: 328px;
  padding-top: 22px;
  padding-bottom: 24px;
}

.plot__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.plot__area {
  position: relative;
  width: 307px;
  padding-left: 3px;
  padding-right: 27px;
  background-image: url(../img/arrrows.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}

.plot__scale {
  width: 12px;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #404857;
}

.plot__range {
  position: relative;
  width: 4px;
  height: 50%;
  
  &--green {
    background-color: rgba(46,89,67,0.7);
  }
  
  &--red {
    background-color: rgba(121,56,56,0.7);
  }
}

.plot__value {
  position: absolute;
  left: 0;
  right: 0;
  
  &--green {
    bottom: 0;
    height: 60%;
    background-color: #24bd70;
  }
  
  &--red {
    top: 0;
    height: 30%;
    background-color: #ff0000;
  }
}

.plot__bar {
  position: absolute;
  display: block;
  width: 11px;
  height: 40%;
  
  &--green {
    bottom: 50.5%;
    background-color: #2e5943;
  }
  
  &--red {
    top: 50.5%;
    background-color: #793838;
  }
  
  &--01 {
    left: 3px;
    height: 30%;
  }
  
  &--02 {
    left: 17px;
    height: 40%;
  }
  
  &--03 {
    left: 31px;
    height: 30%;
  }
  
  &--04 {
    left: 45px;
    height: 25%;
  }
  
  &--05 {
    left: 59px;
    height: 22%;
  }
  
  &--06 {
    left: 73px;
    height: 20%;
  }
  
  &--07 {
    left: 87px;
    height: 18%;
  }
  
  &--08 {
    left: 101px;
    height: 16%;
  }
  
  &--09 {
    left: 115px;
    height: 15%;
  }
  
  &--10 {
    left: 129px;
    height: 13%;
  }
  
  &--11 {
    left: 143px;
    height: 10%;
  }
  
  &--12 {
    left: 157px;
    height: 5%;
  }
  
  &--13 {
    left: 171px;
    height: 5%;
  }
  
  &--14 {
    left: 185px;
    height: 10%;
  }
  
  &--15 {
    left: 199px;
    height: 15%;
  }
  
  &--16 {
    left: 213px;
    height: 20%;
  }
  
  &--17 {
    left: 227px;
    height: 14%;
  }
  
  &--18 {
    left: 241px;
    height: 12%;
  }
  
  &--19 {
    left: 255px;
    height: 10%;
  }
  
  &--20 {
    left: 269px;
    height: 15%;
  }
}

.plot__total {
  position: absolute;
  top: 40px;
  left: 95px;
  color: #24bd70;
  font-size: 14px;
  letter-spacing: -0.029em;
}

.plot__time {
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  letter-spacing: -0.029em;
  
  &--green {
    top: 5px;
    color: #24bd70;
  }
  
  &--red {
    bottom: 5px;
    color: #994a4b;
  }
}
